html, body {
    height: 100%;
    background-color: blanchedalmond;
    background-image: url("") ;
    font-family: 'Do Hyeon', sans-serif;

}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}


#cartelera{

}


.movie td{

    padding-right: 10px;
    padding-left: 10px;

}


h1,h2{

    padding: 10px;
}
